body * {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
}

/* Sección Quienes Somos */
.container-somos {
    background-color: black;
    color: white;
}

.container-somos h3 {
    text-align: center;
    padding: 40px 0px 10px 0px;
    font-weight: 400;
}

.container-somos .col-4 i {
    background-color: #36c9ff;
    color: white;
    width: 100%;
    padding: 5px 100px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 30px;
}

/* Sección Tarjetas */
.tarjetas .card img {
    width: 100%;
    height: 180px;
}

.tarjetas {
    background-color: black;
    padding: 60px 50px 0px 50px;
}

.tarjetas .card {
    background-color: #36c9ff;
    color: white;

}